table, th, td {
    border-bottom: 0px solid black;
}
th {
    background-color: antiquewhite;
    color: red;
}
tr:nth-child(odd) {background-color: orange;}
tr:nth-child(even) {background-color: yellow;}
tr:hover {background-color: blue;}
body {
    background-color: darkcyan;
}
h1 {
    color: khaki;
    font-family: cursive;
}
h4 {
    color: pink;
}
p, dt, dt, dd, li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
dt, th {
    font-weight: bolder;
}
dd {
    font-style: italic;
}
td {
    color: black;
}